<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Rack-Sparklines</title>
    <style type="text/css" media="screen">
h1, div, p {
  font-family: verdana;
}
    </style>
  </head>
  <body>
    <h1>Rack Sparklines</h1>
    <div>
      <img src="/sparks/portland/2007.csv.png" />
    </div>
    <p>(if you can see this, the rack module works!)</p>
<%= @body %>
  </body>
</html>